#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/postgresql

- name: Install dependencies
  apt:
    name:
      - python3-psycopg2
      - postgresql
      - postgresql-contrib
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Start and enable PostgreSQL
  service:
    name: postgresql
    state: started
    enabled: yes

- name: Create PostgreSQL user
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ postgresql_user }}"
    password: "{{ postgresql_password }}"
    state: present

- name: Create PostgreSQL database
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ postgresql_database }}"
    owner: "{{ postgresql_user }}"
    encoding: UTF8
    state: present
