#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/redis
- name: Install Redis
  apt:
    name: redis-server
    state: present
  become: true

- name: Ensure Redis is started and enabled
  systemd:
    name: redis-server
    state: started
    enabled: true
